<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="NofificationJobDetail" />
            </list>
        </property>

        <property name="triggers">
            <list>
                <!--<ref bean="NofificationJobTrigger" />-->
            </list>
        </property>
    </bean>

    <!--USER NOTIFICATION BEANS-->
    <bean id="NofificationJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="org.pw.rafalj.crm.scheduledJobs.NotificationJob" />
        <property name="targetMethod" value="doRun" />
    </bean>

    <bean id="NofificationJobTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="NofificationJobDetail" />
        <property name="cronExpression" value="	0 0/1 * * * ?" />
    </bean>

    <bean id="org.pw.rafalj.crm.scheduledJobs.NotificationJob" class="org.pw.rafalj.crm.scheduledJobs.NotificationJob" lazy-init="true" scope="singleton"/>
    <!--END USER NOTIFICATION BEANS-->

</beans>