<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <util:map id="repository_config" key-type="java.lang.Class">
        <!--CONTRACTS-->
        <entry key="org.pw.rafalj.crm.repository.contract.ContractRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.contract.impl.ContractRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.contract.impl.ContractRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.contract.impl.ContractRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.contract.impl.ContractRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--MAILS-->
        <entry key="org.pw.rafalj.crm.repository.mails.EMailRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.mails.impl.EMailRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.mails.impl.EMailRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.mails.impl.EMailRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.mails.impl.EMailRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--USERS-->
        <entry key="org.pw.rafalj.crm.repository.user.UsersRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.user.impl.UsersRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.user.impl.UsersRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.user.impl.UsersRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.user.impl.UsersRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--PAYMENTS-->
        <entry key="org.pw.rafalj.crm.repository.payments.PaymentRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.payments.impl.PaymentRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.payments.impl.TestRepository"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.payments.impl.PaymentRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.payments.impl.PaymentRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--PRODUCTS-->
        <entry key="org.pw.rafalj.crm.repository.product.ProductRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.product.impl.ProductRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.product.impl.ProductRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.product.impl.ProductRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.product.impl.ProductRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--SERVICES-->
        <entry key="org.pw.rafalj.crm.repository.service.ServiceRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.service.impl.ServiceRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.service.impl.ServiceRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.service.impl.ServiceRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.service.impl.ServiceRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--COMPLAINTS-->
        <entry key="org.pw.rafalj.crm.repository.complaint.ComplaintRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.complaint.impl.ComplaintRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.complaint.impl.ComplaintRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.complaint.impl.ComplaintRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.complaint.impl.ComplaintRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--BILLINGS-->
        <entry key="org.pw.rafalj.crm.repository.billing.BillingRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.billing.impl.BillingRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.billing.impl.BillingRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.billing.impl.BillingRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.billing.impl.BillingRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--DATABASE MANAGER-->
        <entry key="org.pw.rafalj.crm.repository.liquibase.SQLRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.liquibase.impl.SQLSQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.liquibase.impl.SQLHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.liquibase.impl.SQLCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.liquibase.impl.SQLPureSQLImpl"/>
                </entry>
            </map>
        </entry>
        <!--DATABASE MANAGER-->
        <entry key="org.pw.rafalj.crm.repository.dashboard.DashboardRepository">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.dashboard.impl.DashboardRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.dashboard.impl.DashboardRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.dashboard.impl.DashboardRepositoryCriteriaImpl"/>
                </entry>
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.dashboard.impl.DashboardRepositoryPureSQLImpl"/>
                </entry>
            </map>
        </entry>
    </util:map>

    <util:map id="repository_typemap_config" key-type="org.pw.rafalj.crm.enums.ServiceType">
        <!--CONTRACTS-->
        <entry key="CONTRACT">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.contract.ContractRepository</value>
        </entry>
        <!--MAILS-->
        <entry key="MAIL">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.mails.EMailRepository</value>
        </entry>
        <!--USERS-->
        <entry key="USER">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.user.UsersRepository</value>
        </entry>
        <!--PAYMENTS-->
        <entry key="PAYMENT">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.payments.PaymentRepository</value>
        </entry>
        <!--PRODUCTS-->
        <entry key="PRODUCT">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.product.ProductRepository</value>
        </entry>
        <!--SERVICES-->
        <entry key="SERVICE">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.service.ServiceRepository</value>
        </entry>
        <!--COMPLAINTS-->
        <entry key="COMPLAINT">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.complaint.ComplaintRepository</value>
        </entry>
        <!--BILLINGS-->
        <entry key="BILLING">
            <value type="java.lang.Class">org.pw.rafalj.crm.repository.billing.BillingRepository</value>
        </entry>
    </util:map>
</beans>