<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <util:map id="repository_test_config" key-type="org.pw.rafalj.crm.enums.ServiceType">
        <!--CONTRACTS-->
        <entry key="CONTRACT">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.contract.ContractTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.contract.ContractTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.contract.ContractTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.contract.ContractTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--MAILS-->
        <entry key="MAIL">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.EMailTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.EMailTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.EMailTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.EMailTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--USERS-->
        <entry key="USER">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.UsersTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.UsersTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.UsersTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.UsersTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--PAYMENTS-->
        <entry key="PAYMENT">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.PaymentTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.PaymentTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.PaymentTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.PaymentTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--PRODUCTS-->
        <entry key="PRODUCT">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ProductTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ProductTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ProductTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ProductTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--SERVICES-->
        <entry key="SERVICE">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ServiceTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ServiceTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ServiceTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ServiceTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--COMPLAINTS-->
        <entry key="COMPLAINT">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ComplaintTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ComplaintTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ComplaintTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.ComplaintTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
        <!--BILLINGS-->
        <entry key="BILLING">
            <map key-type="org.pw.rafalj.crm.enums.DBQueryTypeEnum">
                <entry key="PURE_SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.BillingTestRepositoryPureSQLImpl"/>
                </entry>
                <entry key="SQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.BillingTestRepositorySQLImpl"/>
                </entry>
                <entry key="HQL">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.BillingTestRepositoryHQLImpl"/>
                </entry>
                <entry key="CRITERIA_API">
                    <bean class="org.pw.rafalj.crm.repository.test.impl.BillingTestRepositoryCriteriaImpl"/>
                </entry>
            </map>
        </entry>
    </util:map>
</beans>