<div ng-form="inputDctv">
    <div ng-transclude></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{label}}</label>

        <div class="col-sm-4">
            <input class="form-control input-sm"
                   ng-model="$parent.model"
                   ng-required="required"
                   type="text"
                   ng-if="type === 'text'">
        </div>
        <label style="margin-top: 2px; font-size: 12px; font-weight: 400;"
               class="col-sm-4 label label-danger">{{errorMsg}}</label>
    </div>
</div>