<div>
    <div class="row">
        <div class="page-title">{{'menu.databaseSettings.databaseTester.label' | translate}}</div>
    </div>
    <div style="width:100%; height:25px"></div>

    <div class="row">
        <div class="panel panel-default-page panel-sm col-md-5">
            <div class="panel-page-section panel-page-section-bg">{{'database.label.tests' | translate}}</div>
            <div class="panel-page-section-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{'database.label.queriesCount' | translate}}</label>

                        <div class="col-sm-8">
                            <md-input-container style="width: 100%; height: 38px; padding: 0; margin: -1px 0;">
                                <input class="form-control input-sm"
                                       ng-model="queriesCount"
                                       type="number">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{'database.label.step' | translate}}</label>

                        <div class="col-sm-8">
                            <md-input-container style="width: 100%; height: 38px; padding: 0; margin: -1px 0;">
                                <input class="form-control input-sm"
                                       ng-model="step"
                                       type="number">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{'database.label.table' | translate}}</label>

                        <div class="col-sm-8">
                            <md-select ng-model="table" ng-required="required" md-on-open="loadTables()" style="height: 40px; margin: -1px 0px;">
                                <md-option ng-repeat="tab in tables">{{tab}}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{'database.label.testedTypes' | translate}}</label>

                        <div class="col-sm-8">
                            <md-select multiple ng-model="testedType" ng-required="required" md-on-open="loadTestedTypes()" style="height: 40px; margin: -1px 0px;">
                                <md-option ng-repeat="type in testedTypes" value="{{type.name}}">{{type.name}}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{'database.label.query' | translate}}</label>

                        <div class="col-sm-8">
                            <md-select ng-model="query" ng-required="required" md-on-open="loadQueries()" style="height: 40px; margin: -1px 0px;">
                                <md-option ng-repeat="q in queries" value="{{q.id}}">{{q.name}}</md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="row text-right">
                            <md-button type="button" class="md-raised md-primary" ng-click="clearChart()">
                                <i class="fa fa-trash-o"></i> {{'database.btn.test.clear' | translate}}
                            </md-button>
                            <md-button type="button" class="md-raised md-primary"
                                       ng-click="runTest()"><i class="fa fa-check"/> {{'database.btn.test.run' | translate}}
                            </md-button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-default-page panel-sm col-md-7" ng-hide="isChartHidden">
            <canvas maintainAspectRatio="false" responsive="true" id="resultChart" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-legend="true" chart-series="series">
            </canvas>
        </div>
    </div>

</div>