<div class="panel-body ">
    <div class="panel-page-section panel-page-section-bg">{{'common.basic.data' | translate}}</div>
    <div class="panel-page-section-body">
        <div class="form-horizontal">
            <input-dctv label="{{'products.table.code' | translate}}" type="text" model="productVO.code"
                        required="true"
                        error-msg="errorMsg"></input-dctv>
            <input-dctv label="{{'products.table.name' | translate}}" type="text" model="productVO.name"
                        required="true"
                        error-msg="errorMsg"></input-dctv>
            <input-dctv label="{{'products.table.desc' | translate}}" type="text" model="productVO.desc"
                        required="true"
                        error-msg="errorMsg"></input-dctv>

        </div>
    </div>
</div>